.mainLayout{
    background-color: white;
}

.loginView {
    background-color: white;


}

.mainClass{
    background-color: red;
}

.dailyTab{
    background-color: white;
}

.taskElement{
    background-color: white;
}

.tabs{
    background-color:white;
}

.dayDoneLabel{
    background-color: greenyellow;
}

.dayNotDoneLabel{
    background-color: orange;
}